[2019-06-15 09:05] adnanhemani commented on #312
@deltafactory can you please verify that this problem is still occurring and if so, steps for replication. Thanks!

[2019-06-15 09:09] adnanhemani commented on #285
Agreed. I'll mark it.

[2019-06-15 09:09] #285 closed

[2019-06-15 10:02] matthew-brett commented on #335
I do have a lot of experience, I'm happy to advise.

You have the problem you've pointed out, that for pip versions older than 10, and therefore, some installations older than April 2018, pip will upgrade all packages with `pip install -U datascience`.

You used to have the problem that Matplotlib, Pandas etc were difficult to install; I think wheels have taken care of this problem for well over 9

[2019-06-15 10:03] adnanhemani commented on #356
Reopening this issue - in Travis, we're seeing this error now. Have we seen this before?
<img width="1050" alt="Screen Shot 2019-06-15 at 3 03 12 PM" src="https://user-images.githubusercontent.com/10746770/59549978-b5c8d580-8f7e-11e9-875c-91854d89d1a6.png">

[2019-06-15 10:30] adnanhemani commented on #318
Closed as per #327.

[2019-06-15 10:30] #318 closed

[2019-06-15 14:31] deculler commented on #370
Students aren't the only use case for tables.  Increasingly it is used in
code that lives on beyond the weeks lab.  "First time" is confusing, as you
observe.  If it is highly unlikely that the particular usage could be what
we intended - issue warning.  Provide a kwarg to suppress it.

On Sat, Jun 15, 2019, 1:32 AM Adnan Hemani <notifications@github.com> wrote:

[2019-06-15 15:42] davidwagner commented on #356
I think I remember seeing that when `coveralls` or `coverage` wasn't up-to-date, so maybe we should check the versions of those packages.

[2019-06-15 15:46] davidwagner commented on #348
Agreed.  `.where(col, array)` is something we intend to or should support; it's fine to support it instead by `.where(col, are.equal_to, col2)`, so I'll close this.  Thanks for the idea!

[2019-06-15 15:46] #348 closed

[2019-06-16 05:41] #357 closed

[2019-06-16 06:03] adnanhemani opened #375 "Update documentation with new methods"
Some new methods that have been merged recently into master do not have a section in the documentation. We should look over the new code checked in and add any new methods to the Rust files that create the documentation

[2019-06-16 06:59] adnanhemani commented on #363
Even after updating the references from"dsten" to "data-8", we're having the same [problems](https://travis-ci.org/data-8/datascience/jobs/546302918#L2310)...

[2019-06-16 07:00] adnanhemani commented on #363
I'm not sure where the username/pw is on Travis for it to upload to "gh-pages". I checked the Travis config and didn't find anything there either? Does anyone else know where the authentication is coming from? @SamLau95 ?

[2019-06-16 07:03] adnanhemani commented on #374
I tried to fix it with #376, but unsure if it did the trick. It got past this error that we see here, but still stuck on the authentication problems mentioned in #363. Please do not merge #376, as I've made some bad changes required to trigger Travis to build the docs even when it shouldn't - I'll make a new PR with the right changes later when we can figure out exactly how to fix the docs.

[2019-06-16 07:09] adnanhemani commented on #360
@SamLau95 I locally triggered an upload to the gh-pages branch and no build was triggered on readthedocs. Could this perhaps mean that the GitHub integration with that branch is gone for good and we should try a new integration with webhooks now?

Also, @davidwagner did you trigger the latest rtd build (5 days ago)? If so, how did you do it - manually through the admin settings on rtd?

[2019-06-16 09:00] adnanhemani commented on #356
Made a new PR #378 to fix this!

[2019-06-16 15:30] davidwagner commented on #374
#376 looks like that fixed the xvfb problem: it got past the point where it was failing before (the xvfb part succeeded), and now failed only at the very last step where it tries to upload to Github.  So, yes, it looks like that was indeed the correct fix for the xvfb problem.

[2019-06-16 15:32] davidwagner commented on #363
`.travis.yml` sets [environment variables](https://docs.travis-ci.com/user/environment-variables/): see the `env.global` section.  The `secure` part is an encrypted variable name + value pair, [encrypted so only Travis can decrypt](https://docs.travis-ci.com/user/encryption-keys/).  It seems to be of the form `GH_TOKEN=secret` where `secret` is replaced with an [authentication token from Github](h

[2019-06-16 15:33] #356 closed

[2019-06-16 15:53] davidwagner commented on #360
I can't remember.

Maybe it was triggered when my account was added as an admin to rtd?

Looking through the rtd web pages, I can't find any place to manually trigger a build.  I don't think I manually ran `make deploy_docs`, as the only change I see in the past few weeks is a push from you yesterday, which postdates that rtd build (see https://github.com/data-8/datascience/commits/gh-pages).

It

[2019-06-17 01:04] davidwagner commented on #360
Oh!   I think I did manually trigger a build on rtd.  There's a button to do it on https://readthedocs.org/projects/datascience/.  So that's probably why there was a successful build there.

[2019-06-17 01:18] davidwagner commented on #360
I tried adding a webhook on Github, as instructed on the support pages at rtd.  Next time we push to master, let's check if it triggers a build on rtd.

[2019-06-17 16:00] deltafactory commented on #312
I had been using this as part of an online course over a year ago and no longer have access. Sorry, I won't be able to verify. If the mentioned table tags are properly paired in the output HTML all should be well. :)

[2019-06-17 17:40] adnanhemani commented on #312
Oh, sorry for getting to this so late :(

On my testing in Chrome and Safari, I'm not seeing this bug so I'm not sure where this is occurring but I'll mark this issue as can't reproduce for now and if someone else stumbles upon this issue, I can take a look at it then!

Thanks again for trying to help us out though!

[2019-06-17 17:40] #312 closed

[2019-06-17 17:41] adnanhemani commented on #375
Resolved by #377

[2019-06-17 17:41] #375 closed

[2019-06-17 17:43] adnanhemani commented on #360
Ahh, I see. I probably don't see the button since I'm not a maintainer on there. I'll keep my eyes peeled for the next merge to master

[2019-06-17 19:17] davidwagner commented on #360
OK.  I pushed to master, and it indeed triggered a build on rtd (https://readthedocs.org/projects/datascience/builds/), and now.  So it looks like the new webhooks are working and that was the fix, and now the updated docs are showing up on rtd.  I'll close this now.

[2019-06-17 19:17] #360 closed

[2019-06-17 21:22] davidwagner commented on #374
To clarify my prior comment: this isn't fixed yet; PR #376 shows that changing the `.travis.yml` in the way shown in PR #376 will fix the xvfb problem; but PR #376 isn't mergeable; now we need to create a mergeable PR that contains that same fix.  Your test is PR #376 does demonstrate how to fix it.

[2019-06-18 05:54] adnanhemani commented on #374
Closed by #379

[2019-06-18 05:54] #374 closed

[2019-06-18 05:54] adnanhemani commented on #363
Closed by #379

[2019-06-18 05:54] #363 closed

[2019-06-18 06:02] adnanhemani opened #380 "Documentation poorly formatted"
I'm guessing this is an HTML problem, but really not sure. Some methods with a long method signature look like this in the documentation:

<img width="838" alt="Screen Shot 2019-06-18 at 11 02 37 AM" src="https://user-images.githubusercontent.com/10746770/59656961-96b58800-91b8-11e9-8754-9dc54bdc56c8.png">

[2019-06-18 06:12] adnanhemani commented on #317
Marking this is a dupe of #320. @a-adhikari - moving this conversation to the other thread.

[2019-06-18 06:12] #317 closed

[2019-06-18 06:21] adnanhemani commented on #320
@papajohn @a-adhikari - can someone please clarify what this would do? As per what I've read, this would turn the edgecolors of each bin to white. But as of what I can see when I make a histogram, this is already happening (picture attached below)

Is this issue outdated?

<img width="1142" alt="Screen Shot 2019-06-18 at 11 21 00 AM" src="https://user-images.githubusercontent.com/10746770/59657782

[2019-06-18 06:26] adnanhemani commented on #265
@papajohn is this use case of something like this: we have a table A and then we create table B by calling select on A and taking only a subset of columns. We then want any changes to table A to project onto table B and vice-versa.

Am I on the right track?

[2019-06-18 06:36] adnanhemani commented on #312
It was fixed by #315!

[2019-06-18 06:46] adnanhemani commented on #343
@scottjlee it seems to me that the outlines are now showing? I think this has to do with the ec='w' default issue - I'm marking this as a dupe to #320. Feel free to comment back with more specifics of the problem (what exactly we should be looking for on the histogram that's not that) and if this isn't the same issue as #320.

[2019-06-18 06:46] #343 closed

[2019-06-18 06:50] adnanhemani commented on #311
Marking as dupe to #347. Copying this information over to that thread.

[2019-06-18 06:50] #311 closed

[2019-06-18 06:50] adnanhemani commented on #347
From @papajohn in #311:

Numpy v1.14.x (released Jan 6) changed the algorithm (look for the section titled "Many changes to array printing") for the string representation of floating point numbers. If you add this line of code, it changes back to the 1.13.x algorithm, and the histogram x-axis labels are sane (i.e., don't contain the small error terms):

np.set_printoptions(legacy='1.13')

[2019-06-18 08:16] adnanhemani commented on #347
I've made a PR at #381 that should take care of this issue. Please review the change by testing it out locally and making sure that it works as expected now. Thanks!

[2019-06-18 09:16] adnanhemani commented on #337
@davidwagner I do agree about this. I can put up a change quite quickly (I've figured it out, I think) - but do we need the other instructors to agree to the proposed changes?

[2019-06-18 11:39] adnanhemani commented on #350
Hi Felix, unfortunately that's not how the 'colors' argument is meant to work. 'colors' should be the name of a column in your table that is a categorical grouping of your data points - but it does not actually guarantee you a particular color for that category.

For example, if you look at the graphs in #303, you'll see in the scatter plot that the "mentored" column is a column of True/False and

[2019-06-18 11:39] #350 closed

[2019-06-18 12:36] FelixNeutatz commented on #350
Thanks for your response :)

[2019-06-18 21:52] davidwagner commented on #337
I don't think we need to wait for the other instructors.  This shouldn't change anything for existing usage (without bin_column), and for the rare cases with bin_column, it seems clear enough that the current behavior is broken.

[2019-06-19 22:37] adnanhemani commented on #300
Hi @dfeehan, I tried to replicate this issue - it seems like the shifting of the x-axis may be due to the fact that the dot you're plotting is so far to the right of the distribution (in er_r) that the distribution is forced to smoosh the distribution off to the far left to be able to plot the dot on the right. (Which seems about right as the rang of your distribution is (-0.01357001, 0.01099454)

[2019-06-19 22:37] #300 closed

[2019-06-19 22:43] dfeehan commented on #300
I have no memory of this issue, to be honest. It seems fine to close it (to
me). Thanks!

On Wed, Jun 19, 2019 at 3:37 PM Adnan Hemani <notifications@github.com>
wrote:

[2019-06-20 05:55] adnanhemani commented on #347
Closed by #381.

[2019-06-20 05:55] #347 closed

[2019-06-20 05:57] adnanhemani commented on #338
Closed by #382.

[2019-06-20 05:57] #338 closed

[2019-06-20 06:38] adnanhemani commented on #337
On second thought, I'm not so sure this is the wrong behavior. I think the original use case for bin_column was for something like a 2-column table where one column is the bins and the other column being the count of a unit as related to the first column. For example, a table like this:

`t = Table().with_columns("bins", np.arange(4), "cars_seen", [6, 4, 5, 9])`

So in this case, a call to Table#h

[2019-06-20 06:41] adnanhemani commented on #337
However, I'm getting curious about one thing: If the bin_column parameter's column should be showing the lower end of the bins, in the example you've shown, why isn't the 3 bin extending all the way to 9? Are bins of default size 1 the only thing that's supported with this parameter?

[2019-06-20 08:07] adnanhemani commented on #335
I agree with everything @matthew-brett has said above - thank you for the in-depth thoughts!

Adding the WIP label to this issue. Would definitely like to hear @papajohn's thoughts before I make any movement on this.

[2019-06-20 17:30] davidwagner commented on #337
Oh.  You've got a good point -- now that I look at it again, I think I agree with you.

I ran across this when building the textbook; the example is taken from [Chapter 14.1 of the textbook](https://www.inferentialthinking.com/chapters/14/1/Properties_of_the_Mean.html) (it's in a hidden cell in [the notebook](https://github.com/data-8/textbook/blob/7a590fa192fbe8bfc1678661a016cd18aba6bab8/content/

[2019-06-20 21:26] davidwagner commented on #380
I'm guessing this is http://data8.org/datascience/tables.html.  I don't see that in my browser (Firefox 67 on a desktop linux machine), but I do see it on Safari on an iphone, so it might be related to the width of the browser window/viewport.  I don't know how to poke Sphinx to make it generate HTML or CSS that's more mobile friendly.

[2019-06-23 06:28] papajohn commented on #335
Matthew's proposed change sounds great — declare all dependencies in both
setup.py and requirements.txt.

On Thu, Jun 20, 2019 at 10:07 AM Adnan Hemani <notifications@github.com>
wrote:

[2019-06-23 06:41] papajohn commented on #337
Yeah, Chapter 7.2 was the reason `bin_column` was added, and the behavior
is as intended.

On Thu, Jun 20, 2019 at 7:30 PM davidwagner <notifications@github.com>
wrote:

[2019-06-23 07:58] stefanv commented on #335
@matthew-brett Nothing to add. We always specify requirements.txt - I cannot think of any reason not to. To avoid duplication, we also often read those files in setup.py for the installation dependencies, so we don't have to specify versions twice.

Conda seems to play better with pip now, but I haven't checked the very latest status. I wonder if @hmaarrfk knows?

[2019-06-23 08:47] papajohn commented on #320
I think this issue has already been fixed.

On Tue, Jun 18, 2019 at 8:21 AM Adnan Hemani <notifications@github.com>
wrote:

[2019-06-23 08:49] papajohn commented on #265
That's right. I think the goal was more about speed than data sharing, but
the two go hand-in-hand.

On Tue, Jun 18, 2019 at 8:26 AM Adnan Hemani <notifications@github.com>
wrote:

[2019-06-23 12:24] hmaarrfk commented on #335
For conda, Minimum version requirements don't seem to change much version to version. Conda package maintainers try to manually verify that pinnings are correct.

Conda-forge is quite adament about people updating. Anaconda will try to support old stuff, to a point. Again, they will likely really want users to update conda and pip before supporting them.

[2019-06-23 12:25] hmaarrfk commented on #335
https://github.com/scikit-image/scikit-image/blob/3a139607d642211bf681f4266b426b355becd099/setup.py#L121

[2019-06-23 19:55] adnanhemani commented on #337
Sounds good. I'll close this issue and perhaps we can open an issue to rewrite Chapter 14.1?

[2019-06-23 19:55] #337 closed

[2019-06-23 19:55] #320 closed

[2019-06-23 19:57] adnanhemani commented on #265
Sounds good. I'll start working on this in the next round of development for tables.py! Thanks for the  clarification :)

[2019-06-23 20:00] adnanhemani commented on #304
Closed by #383.

[2019-06-23 20:00] #304 closed

[2019-06-24 03:43] davidwagner opened #386 "Warn about scatter(colors=...)"
Once we've released the version with supports for scatter(group=) and have converted assignments and textbook (PR #384), let's warn on use of scatter(color=).  See https://github.com/data-8/datascience/pull/384#discussion_r296495737.

[2019-06-24 23:08] adnanhemani opened #387 "Better documentation for the Maps module of the library"
Once the new version of the Maps module is released, we should add better documentation to it so it's more user-friendly.

[2019-06-27 03:38] choldgraf opened #388 "`pip install` doesn't install dependencies"
We were just running through a tutorial on Data 8 and found that running `pip install datascience` doesn't install the dependencies needed for the datascience package. We should add the relevant parts to `setup.py` (at least, that's where I think this information lives)

[2019-06-28 12:04] adnanhemani commented on #388
This is a dupe of #335. We're working on getting the requirements.txt file completely up to date with the latest dependencies. (The requirements.txt file is read in and processed in `setup.py`). I'll make a post on that thread when we're ready with the changes. Sorry about the inconvenience!

[2019-06-28 12:04] #388 closed

[2019-06-28 12:13] adnanhemani commented on #303
Closed per #384.

[2019-06-28 12:13] #303 closed

[2019-06-28 12:47] adnanhemani opened #390 "Write tutorial for the Maps module."
Currently, it says "To come" - we need to put examples of our library in there.

[2019-06-28 21:41] davidwagner opened #391 "Feature request: Shade bars in histogram to the left of a threshold"
Ani requested this feature: when displaying a histogram, give a way to shade all of the bars to the left of a threshold one color and all of those to the right a different color.  The tricky bit: this should work even when the threshold is in the middle of a bar (i.e., the left part of the bar is shaded one color and the right part another color).

She requested this for visualizing p-values in th

[2019-07-01 06:05] adnanhemani commented on #391
Marking this as a dupe of #349. I'm transferring this text to that issue.

[2019-07-01 06:05] #391 closed

[2019-07-01 06:06] adnanhemani commented on #349
From @davidwagner on a dupe of this issue:

"Ani requested this feature: when displaying a histogram, give a way to shade all of the bars to the left of a threshold one color and all of those to the right a different color. The tricky bit: this should work even when the threshold is in the middle of a bar (i.e., the left part of the bar is shaded one color and the right part another color).

She r

[2019-07-01 20:50] adnanhemani commented on #186
Blocked on #385.

[2019-07-01 20:55] adnanhemani commented on #233
@papajohn any updates on this? If this is still something to look into, I can look too. If not, should we close this?

Just a question I have for this: this would be something that would replace our current charting mechanisms? This is an enhancement on current features rather than new features altogether, right?

[2019-07-01 20:56] adnanhemani commented on #257
Blocked on #385

[2019-07-01 21:34] jakevdp commented on #233
@fperez and I talked about this a while ago, and agreed that Altair is probably not ready for data8 because it still chokes on larger datasets (where larger ~= 10K points), and it would be a real bummer to have that limitation in the only charting solution that's being taught.

[2019-07-01 21:55] adnanhemani commented on #233
@jakevdp thanks for the info! As per your info, I'm going to close this issue - if the originators of this issue would like to bring this up again, please feel free to re-open the issue and comment back!

[2019-07-01 21:55] #233 closed

[2019-07-01 21:56] adnanhemani commented on #281
Blocked on #385.

[2019-07-02 03:47] adnanhemani commented on #333
This seems a bit harder than it looks. Since the number of arguments checked is on runtime, the TypeError caused when someone uses `Table.with_columns(..., ...)` is thrown on the caller's side. - it never actually makes it to the receiver's end. Thus, we can't actually write code in the function to check the type of self unless we make the arguments into un-named arguments (which I'm quite. sure w

[2019-07-02 04:02] adnanhemani commented on #339
@suhailrehman I've made the required changes in #394. Please take a look and let me know if you need any more changes to this! :)

[2019-07-02 23:20] davidwagner commented on #333
`with_columns` uses vargs, so it seems like it should work:

[code]

In particular, add something like this to the start of `with_columns`:

[code]

or

[code]

[2019-07-02 23:33] davidwagner commented on #339
Ouch.  Annoying.

Unfortunately this solution sounds like it's going to be painful for students, too.  We have to teach them to use `make_array(..., dtype=int64)` everywhere they use `make_array()` to create an array of integers?  So they have to run into it once, ask us why it doesn't work, and then we teach them this workaround, and they have to remember to use it every time?   That sounds painf

[2019-07-02 23:38] #346 closed

[2019-07-02 23:51] davidwagner commented on #220
Interesting.  Thanks for the suggestion.  Can you elaborate on why this is an important feature to add?  I can see it's easy to add, but I'm just trying to figure out whether adding it to the library is the right thing to do.

One option is to add an option to do this, at the cost of expanding the complexity of the API a little bit.  The other option is to let the caller manually add the index (by

[2019-07-02 23:55] davidwagner commented on #265
The conceptual complexity of having two tables that alias each other sounds painful to think about for me.  I find immutable data easier to think about than a case where modifications to one table can modify another table.  Do we have a use case where we'd want to use this?  Or something where the speed is important?

[2019-07-03 00:05] #342 closed

[2019-07-03 00:07] #370 closed

[2019-07-03 00:13] davidwagner commented on #243
Or maybe we manually norm the data before calling `bar()`, and don't need any feature from the library?  It might be easier for students to understand what that is doing than to understand what `normed=True` means (I found `normed=True` pretty obscure).

[2019-07-03 00:15] davidwagner commented on #243
Another option would be to call it `proportions=True` (per #294).

[2019-07-03 00:16] davidwagner commented on #294
I think `areas_show_counts` is no longer needed now that we have `hist_of_counts()`.

[2019-07-03 01:59] adnanhemani commented on #220
To be honest, I did this quite mindlessly without thinking if this was a good move. But the only thing that I can think of in terms of why we should implement this into our library is that we don’t want our users to be required to know Pandas syntax (such as df.index.values). In the case that a datascience user imports a Pandas dataframe from somewhere, we want to be able to allow our user to impo

[2019-07-03 02:04] adnanhemani commented on #265
I’ve never seen an example of a table large enough where speed would become an issue when using select. I’d assume @papajohn has a particular use case in mind - or perhaps a particular number of rows (or a scale of numbers) where this starts to visibly slow our code down?

I’m not so sure that I like the idea of data-sharing either - but if it’s a byproduct of making the select function faster for

[2019-07-03 02:09] adnanhemani commented on #339
I agree with you - we shouldn’t have to make students learn this extra argument and why it’s needed.

Based off the OP’s GH profile, I’m guessing that users aren’t at Berkeley and may not have a Datahub of their own. Thus, I’m guessing we should probably engage with the second option and make sure that any array of ints that are passed in should default to int64. It’s quite “magical”, no doubt, bu

[2019-07-03 05:09] adnanhemani commented on #333
OH, I was looking at with_column rather than with_columns! So this is completely possible with with_columns, but not with with_column - but I'd say that the behavior should be identical (in relation to the warning). However, as noted above, this wouldn't be possible.

Do you think it'd be okay to put a check on with_columns and not with_column?

[2019-07-03 20:17] papajohn commented on #265
This issue was born from a user request working with some big table, but I
don’t recall the details.

I think tables wouldn’t reference each other — they would just share
references to the same column(s).

John

On Tue, Jul 2, 2019 at 10:04 PM Adnan Hemani <notifications@github.com>
wrote:

[2019-07-03 20:17] papajohn commented on #333
Asking students to distinguish between with_column and with_columns didn’t
work, last time I taught. Anything we can do to make those methods synonyms
would be a net benefit, I think.

On Wed, Jul 3, 2019 at 1:09 AM Adnan Hemani <notifications@github.com>
wrote:

[2019-07-04 15:41] #332 closed

[2019-07-04 15:57] davidwagner commented on #333
Yes, it's fine to put the check on with_columns and not with_column.  This isn't changing any semantics or behavior; it's just adding a warning about one common student error.  If we can't warn for all student errors, it's still useful to warn for some of them.

[2019-07-04 16:00] #339 closed

[2019-07-04 16:02] #186 closed

[2019-07-04 16:10] #281 closed

[2019-07-04 16:30] davidwagner opened #401 "Docs warning in maps.Marker"
[code]

[2019-07-05 21:06] adnanhemani commented on #257
For the most part, the autozoom now works (albeit, not perfectly). I'm going to close this issue for the time being and if new cases are brought up with broken autozoom, we can take a look at this again then.

[2019-07-05 21:06] #257 closed

[2019-07-07 15:30] davidwagner commented on #265
@papajohn , I notice the issue was filed two years ago.  Could you tell us whether you want us to add this feature today?  If you want the feature, the PR seems fine and I'll merge it.  If it were me alone, I wouldn't add the feature, but I wasn't in your shoes to see the use case.  So if you say "yeah let's have this feature", we'll add it; and if you say "I don't care", then I think I'll drop it

[2019-07-07 15:32] davidwagner commented on #220
OK.  If you update the PR to address the comment, I'll merge it.

[2019-07-08 20:43] suhailrehman commented on #339
Sorry folks, I did not have notifications for Github enabled, and saw your comments just now. Just wanted to convey the pedagoical context for @davidwagner.

We were teaching this course at UChicago, without datahub, and using the datascience library on students' own machines. Just thought of reporting this issue so that you folks were aware of this potential issue that was OS dependent. I concur

[2019-07-15 00:26] #333 closed

[2019-07-15 15:32] #335 closed

[2019-07-15 18:51] adnanhemani commented on #364
Closed as per #335

[2019-07-15 18:51] #364 closed

[2019-07-16 06:03] adnanhemani commented on #386
I've seen some commits to the Textbook regarding the API change. Have we done this to the assignments yet?

[2019-07-16 15:47] davidwagner commented on #386
Textbook change is done.  Haven't made the changes to assignments yet.

[2019-07-16 15:53] #220 closed

[2019-07-16 15:54] #401 closed

[2019-07-16 22:59] davidwagner commented on #386
Both changes are now done.

[2019-07-16 23:00] davidwagner commented on #386
I propose that the next step is to create a pull request that deprecates `scatter(colors=)` and warns on use of it, but still supports that functionality for now (so we don't break older code).

[2019-07-23 17:34] #349 closed

[2019-08-07 06:31] adnanhemani opened #406 "Marker.map_table not as flexible as expected"
You cannot add more attributes to a Table's rows for individual features as is in Marker.map_table, due to the default arguments in Marker.map. We should make the Marker.map_table method more robust so that it properly handles the default arguments and bypasses them, if necessary.

[2019-08-07 06:33] adnanhemani opened #407 "Change all Circle arguments for 'radius' to 'area'"
This is to be consistent with how we've been drawing circles everywhere else around the Maps module

[2019-08-07 16:32] papajohn commented on #407
To represent a magnitude, area is more appropriate than length based on
visualization principles. I think we therefore need to live with the
inconsistency or change everything else to area.

On Tue, Aug 6, 2019 at 11:33 PM Adnan Hemani <notifications@github.com>
wrote:

[2019-08-08 06:00] adnanhemani commented on #407
The other place where this is partly used is in the `radius` argument of `Circle`. I do think that we need to be consistent across this because it makes no sense to have to instantiate a Circle using a radius parameter - while having to pass in the area of the circle as a column to the table when trying to recreate the same Circle using the `map` method.

So just to confirm, you think it would be

[2019-08-08 06:38] papajohn commented on #407
Yeah, areas everywhere is the best way to be consistent. Radius-based sizes
based on data are very misleading —- large values look huge. The bike
sharing data set from lecture ran into this problem before I switched from
radius to area.

On Wed, Aug 7, 2019 at 11:00 PM Adnan Hemani <notifications@github.com>
wrote:

[2019-09-10 15:54] tbrown122387 opened #410 "datascience.tables.Table.hist produces AttributeError: module 'numpy' has no attribute 'printoptions'"
Calling datascience.tables.Table.hist produces the following error:
`AttributeError: module 'numpy' has no attribute 'printoptions'`

Source is here: https://github.com/data-8/datascience/blob/f154b0d31573f638d40bec5e7b962b599f92d5aa/datascience/tables.py#L2646

[2019-09-16 00:24] #406 closed

[2019-09-18 01:11] davidwagner opened #414 "with_column can't be used to add multiple columns"
During Spring 2017, with_column() was effectively an alias for with_columns() and could be used to add multiple columns.  However this got reverted by a merge, and I'm not sure that was intentional.

The benefit of allowing with_column() to be used to add multiple columns is that students wouldn't get confused about which one to use.

From an email from John:

Here's the change, from Feb 5, 2017:

[2019-09-18 05:53] adnanhemani commented on #414
I'll take responsibility on making the change that reverted the behavior - but I had no idea that `with_column` was changed prior to that to make it identical to `with_columns`. I was working off the Issue #194 and there was no easy way to implement that without taking out the existing logic :(

As it stands, I don't think that there's an easy/user-friendly way to keep the formatter functionality

[2019-09-18 13:38] papajohn commented on #414
Something like:

[code]

On Tue, Sep 17, 2019 at 10:53 PM Adnan Hemani <notifications@github.com>
wrote:

[2020-03-07 16:39] tbrown122387 opened #415 "ERROR: datascience 0.15.3 has requirement coverage==4.5.3"
pip install datascience yields

ERROR: datascience 0.15.3 has requirement coverage==4.5.3, but you'll have coverage 4.4 which is incompatible.

It isn't a fatal error, but it confuses students.

[2020-03-23 21:48] yifanwu opened #416 "group with `nan` values is strange"
If you load the following csv file and attempt to do group by on county, it treats each `nan` as unique---I think the nans should be treated as the same value. Happy to be convinced otherwise.

[code]

[2020-03-28 23:00] adnanhemani commented on #416
Hi @yifanwu. I took a look - it's reproducible (thank you for the example), here's why: np.float64 NaN objects aren't equal to each other in Python. Here's a SO post with a deeper explanation: https://stackoverflow.com/questions/6441857/nans-as-key-in-dictionaries

That being said, I agree that this isn't the best behavior - I'm going to be putting in a PR for this. Thanks for reporting the issue!

[2020-03-29 01:55] adnanhemani opened #418 "Table#relabeled needs to be updated"
The LOC start at L565 should be changed to be operating on a copy of self._formats:
[code]

Changing dictionaries while iterating over it is causing a failing test case in python v3.6+

[2020-03-29 02:10] adnanhemani commented on #415
Hi @tbrown122387 - I'm looking at our dependencies but I'm not seeing a strict requirement for coverage==4.5.3 anywhere...(I combed through the latest Travis CI builds as well to see if there's an implied dependency too. There isn't, Travis is installing Coverage v5.0 on its own.) Thus, my best guess is that it's an issue while installing locally/on a specific environment setup.

If you see somewh

[2020-03-29 02:10] #415 closed

[2020-03-29 03:41] tbrown122387 commented on #415
Thanks for looking into it @adnanhemani yes, most students are installing in an anaconda environment with either

	activate base
	conda install pip
	pip install datascience
	pip install okpy

In a windows anaconda prompt or the following in a mac/Linux terminal

	source activate base
	conda install pip
	pip install datascience
	pip install okpy

How would this change the dependencies, though? Sorr

[2020-03-29 04:55] davidwagner opened #420 "coveralls integration is broken"
coveralls is [failing](https://travis-ci.org/github/data-8/datascience/builds/668267256):

[code]

I believe the problem is that we're using coverage==4.5.3 and coveralls==1.11.1.  I think we need to update to the latest version of the coverage package, as the format for the `.coverage` file has changed.  I think we should be updating `setup.py` accordingly.

[2020-03-29 05:14] #420 closed

[2020-03-29 07:12] adnanhemani commented on #415
Hi @tbrown122387, I tried to spin up a new conda env on my laptop with the scripts that your students are using...I'm not seeing that particular error.

One thing I do see, however, is that it seems that okpy is requiring Coverage@v4.4. Maybe that's causing the error that your students are seeing? Could you please try to see what version of datascience and pip your script is installing? I think a

[2020-03-29 07:17] adnanhemani commented on #418
Closed by #419

[2020-03-29 07:17] #418 closed

[2020-03-29 07:17] adnanhemani commented on #416
Closed by #417. Hope this helps :)

[2020-03-29 07:17] #416 closed

[2020-03-30 22:19] yifanwu commented on #416
Thanks Adnan for the timely fix!

[2020-03-30 22:29] yifanwu opened #422 "supporting "windowing" functionalities by adding an index to the function passed to apply"
Hi folks,

I have a use case where I need to check the row immediately after when running a custom apply

One idea I had was to access the row index when invoking the function during apply, which can be an easy addition of `enumerate` in the for loops applying the functions.
https://github.com/data-8/datascience/blob/master/datascience/tables.py#L359-L367

Does that sound reasonable? Or let me kno

[2020-04-02 09:20] adnanhemani commented on #422
HI @yifanwu, so I'm not exactly sure what you're trying to do - maybe an example for me to visualize might be helpful in me trying to help you find a solution to your needs. But if I'm reading this correctly, you might want to just append a new column to your table with `row_num` and set it equal to `np.arange(table.num_row)` - that way you can get the row index as part of the apply function? If y

[2020-04-02 16:10] yifanwu opened #423 ".remove function errors"
**First: does not update `_num_rows`**

Should count the number of rows again and update here, before returning
https://github.com/data-8/datascience/blob/master/datascience/tables.py#L583

This is a direct problem for applying remove and then a new column from apply

[code]

**second**

Removing index 0 is not working; I understand you can do [0], but still weird. Should change checking condition

[2020-04-02 16:18] yifanwu commented on #422
Hey Adnan, so this function crosses rows, not just a single row.

Here is an example (contrived abstraction from my actual use case, which requires more involved explanation)

[code]
Now I want to create a new column that indicates if there was a transition from 'a' to 'b'.

I created the following work around, which works, but is pretty ugly.
[code]
I guess it's just a matter what you would consi

[2020-04-02 16:19] yifanwu commented on #423
Happy to do a PR if the complaints/solutions sounds reasonable!

[2020-04-05 03:01] adnanhemani commented on #422
Hi @yifanwu , yeah so I don't think we're looking to support this type of windowing - afaik, SQL doesn't support this out of the box either and I don't remember Pandas doing so either.

I would suggest a speed optimization: maybe it might be faster for you to run your function by just iterating through the column values rather than calling `table.row` over and over again? As in something like this

[2020-04-05 03:53] papajohn commented on #422
You could also join each row with the previous row, then everything you
need would be on one row.

On Thu, Apr 2, 2020 at 9:18 AM Yifan Wu <notifications@github.com> wrote:

[2020-04-05 07:33] adnanhemani commented on #423
Hi @yifanwu, everything you said was reproducible. I've sent a PR fix in #424 - please let me know if this solves all the issues you've described

[2020-04-05 21:36] yifanwu commented on #423
yeah lgtm, though as a general comment, this design (imperatively maintaining some derived state) might encourage this kind of errors in the future. Might be nicer to have some memorization layer, though i'm not familiar with numpy `len`.

[2020-04-05 21:44] yifanwu commented on #422
Thanks @adnanhemani for the alt solution, though I'm just going to use mine for ease of understanding (at the cost of perf). Though re: SQL and Pandas, both support windowing (though windowing is not in the core relational alg) --- see https://www.postgresql.org/docs/9.1/tutorial-window.html and https://pandas.pydata.org/pandas-docs/stable/reference/window.html.

@papajohn, just to be sure for me

[2020-04-05 22:32] papajohn commented on #422
Yep, that’s what I had in mind.

On Sun, Apr 5, 2020 at 2:44 PM Yifan Wu <notifications@github.com> wrote:

[2020-04-28 05:53] #423 closed

[2020-04-28 05:55] davidwagner commented on #422
Good stuff.  Sounds like there are reasonable ways to do this with the APIs currently provided, and I don't see a compelling enough argument to add a new API, so I'm going to close this.  Thank you for the good discussion!

[2020-04-28 05:55] #422 closed

[2020-05-13 21:48] chrispyles opened #425 "Table.__getattr__ issue when calling np.array on a Table row"
In grading CP 298 project 3, we have a table like this:

[code]

and when the following `Table.apply` is run on the above table (`train_f`)

[code]

the following error is thrown:

[code]

I've narrowed down the issue to something with numpy==1.18.4 but I'm not sure what. When I downgrade numpy to 1.16.0 in the autograding container, the test passes. Would be worthwhile to look into this bug so th

[2020-05-13 22:02] chrispyles commented on #425
Upon further investigation, this is the cause of the issue noted on the 8X Hub by @manikui. I've opened a PR to datahub to downgrade numpy to 1.16.0 on the 8X Hub.

[2020-05-23 23:28] davidwagner commented on #425
Thanks.  It sounds like the problem is no longer present on 8X.  However, I'm concerned about fixing this by downgrading numpy.  If the datascience package has issues with the latest version of numpy, I'd like to understand that, as we can't stay on old versions of numpy forever -- we should try to make sure the datascience package works well with the latest versions of numpy.  If someone has time

[2020-05-27 15:17] StevenClontz opened #426 "MatplotlibDeprecationWarning"
When using Matplotlib 3.1, `from datascience import Table` results in the following warnings.

[code]

[2020-05-30 17:26] Brainz456 commented on #163
Any of these still require updating?
I would be interesting in writing some up.

[2020-06-01 08:03] adnanhemani commented on #163
@Brainz456 - yes these do. Please check the latest documentation at data8.org/datascience for the latest state/version of the documentation. If you do decide to work on this, please update the checklist above as well as you create PR(s) for these methods. Thanks!!

[2020-06-06 22:49] adnanhemani commented on #425
So I've narrowed the scope of the problem: The behavior of `np.array(...)` has changed from NumPy v1.17.5 to v1.18.0: up to v1.17.5, if we tried to convert a Row object (which at the backend is a named tuple object) to a numpy array via `np.array`, it'd work fine. However, when doing the same operation in NumPy v1.18.0, the operation errors.

I haven't been able to pinpoint why this is the case, h

[2020-06-07 05:25] adnanhemani commented on #425
Hi folks, I've found and made the changes. Please take a look and review the PR (#427 ). Thanks!

[2020-06-07 16:27] #425 closed

[2020-06-08 11:05] adnanhemani opened #429 "Regression Caused in Histogram Shading"
We are no longer able to run the Charts.ipynb file all the way through due to some changes to the histogram shading code. Was likely introduced by a "quick-fix" to a problem we were having, will need to look into it more before applying a patch.

[2020-06-08 11:07] adnanhemani commented on #426
Hi @StevenClontz , I've madde a PR for a patch. Please let me know if you've got any feedback :)

[2020-06-17 17:52] #429 closed

[2020-06-17 17:55] #426 closed

[2020-06-17 18:30] davidwagner opened #433 "Invalid escape sequences"
We get a number of warnings like the following:

[code]

These should probably be using raw strings (i.e., `rlabel = r"$\infty$"`).

[2020-06-17 18:35] davidwagner opened #434 "Matplotlib deprecation warnings"
We still have two places that use the outdated syntax that triggers Matplotlib deprecation warnings:

[code]

I'm guessing these should be changed.

[2020-07-20 20:27] StevenClontz commented on #426
Thanks! I'm toying with using this library for a few introductory data science modules with high school kids in the fall. Any plans to update the PyPI package in the next month or so?

[2020-08-03 05:00] erichamers commented on #163
Hey guys! Is anyone still working on this issue? I don't see any assignees, I'd be willing to jump in and help with this.

[2020-08-03 07:23] adityakuppa26 commented on #163
@SamLau95  @adnanhemani  Isn't column_labels deprecated? Do we still add docstrings for such?

[2020-08-03 07:54] adityakuppa26 commented on #163
#440

[2020-08-03 07:56] adityakuppa26 commented on #163
issue 163: added documentation for all accessing value methods #440

[2020-08-10 01:21] adnanhemani commented on #163
@erichamers - we don't have any one person solely working on this issue. If you can, please fork our repo, and submit a PR! It'd be super appreciated!

@adityakuppa26 - I reviewed and merged #440. Thanks for this!! For `column_labels`, no need to make documentation for that - I'll mark it off on the list above.

[2020-08-10 01:29] adnanhemani commented on #426
Hi @StevenClontz, as of right now, no. But if this is an absolute blocker for you, @davidwagner would be the person to talk to about updating the PyPi version.

[2020-08-27 06:01] #434 closed

[2020-08-27 06:03] #433 closed

[2020-08-28 10:51] davidwagner opened #442 ""is 0" is poor practice"
`datascience/tables.py` line 51 has `if len(columns) is 0`.  This should be `==`; `is` is not safe to use here.

[2020-08-28 10:56] davidwagner opened #443 "Unexpected indentation in Table.columns docstring"
`make docs` complains:

[code]

I am not sure, but I suspect this might be referring to line 326 or somewhere thereabouts, which was changed in commit 63ab71dc.  Maybe @adityakuppa26 can help?

[2020-08-28 11:01] davidwagner opened #444 "Avoid Table.with_columns([...]) in tutorial.rst"
`docs/tutorial.rst` uses syntax of the form `Table.with_columns([...])` on line 390.  This is unnecessarily ugly; cleaner is `Table.with_columns(...)` without creating a list.

Also, it breaks building docs, with the following error:

[code]

Rather than trying to suppress the warning, I think we should just change the tutorial to use better style.

[2020-08-29 05:46] rajalakshmi139 commented on #163
Hi
I would be interested in writing documents for some of the methods if they are still open.

[2020-08-29 19:01] davidwagner commented on #426
@StevenClontz   Oops, I didn't see this.  I can push an update if it would be helpful - let me know if this is still relevant to you.

[2020-08-30 04:53] mdogy opened #445 "Breaking change from matplotlib??! Crash on "from datascience import *""
Students checked the interactive version of Inferential Thinking:

https://www.inferentialthinking.com/chapters/01/3/Plotting_the_Classics.html

First cell crashes on

from datascience import *

Error message
----------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-1-6f3a305c96af> in <module>
----> 1 from datascience import *

/opt/tljh/user

[2020-08-30 16:48] adityakuppa26 commented on #445
@mdogy I see that the warn parameter has been deprecated following matplotlib3.1 and completely removed in 3.3.
`sys:1: MatplotlibDeprecationWarning: The 'warn' parameter of use() is deprecated since Matplotlib 3.1 and will be removed in 3.3.  If any parameter follows 'warn', they should be pass as keyword, not positionally.`

If matplotlib could be downgraded to 3.2, this issue gets fixed. But i

[2020-08-30 16:57] mdogy commented on #445
I am using inferentialthinking to teach a course. That means that the "interact" links are broken. That makes adoption hard unless you are a school that has set up your own links to the book on your own binder. We have a jupyterhub but not a binder set up.
I think priority 1 for data 8 is to make sure that people clicking the interact link don't see an error message. The last thing you want to sho

[2020-08-30 17:35] adityakuppa26 commented on #443
@davidwagner fixed issue in https://github.com/data-8/datascience/pull/446.

[2020-08-30 18:56] StevenClontz commented on #426
That'd be nice if possible (although we can just tell them to ignore the
warnings otherwise). I'm developing math activities for a magnet cyber-STEM
high school using Python across the curriculum, and I was planning on using
this library for an introduction to data science. They'll probably get into
it around late September or October.

Steven Clontz
https://clontz.org - steven.clontz@gmail.com

O

[2020-08-31 02:27] adnanhemani commented on #445
Hi folks, turns out we had fixed and merged code for this (here's the code in question: https://github.com/data-8/datascience/blob/master/datascience/tables.py#L17) ....but forgot to push the new version of the code to PyPi. I don't have PyPi push access, but @davidwagner does. Could you please push our latest changes to PyPi?

[2020-08-31 02:29] adnanhemani commented on #163
Hi @rajalakshmi139: yes, please check the methods above and send in a PR when you're ready. Thanks!

[2020-08-31 03:26] adnanhemani commented on #443
Closing issue as code has been merged into master

[2020-08-31 03:26] #443 closed

[2020-08-31 05:39] adnanhemani commented on #182
As this issue has been open for over a year with no activity, I'm going to close the issue. Please re-open and comment with any relevant information if this is still an issue that needs to be addressed

[2020-08-31 05:39] #182 closed

[2020-08-31 05:47] adnanhemani commented on #265
As this issue has been in an "Awaiting more information" state for over a year with no activity, I'm going to close the issue. Please re-open and comment with any relevant information if this is still an issue that needs to be addressed

[2020-08-31 05:47] #265 closed

[2020-08-31 05:52] adnanhemani commented on #316
This is being tracked under #163 now. I'll close this issue in favor of that one.

[2020-08-31 05:52] #316 closed

[2020-08-31 05:58] adnanhemani commented on #243
As this issue has been open for over a year with no activity, I'm going to close the issue. Please re-open and comment with any relevant information if this is still an issue that needs to be addressed

[2020-08-31 05:58] #243 closed

[2020-08-31 06:09] adnanhemani commented on #294
As this issue has been open for over a year with no activity, I'm going to close the issue. Please re-open and comment with any relevant information if this is still an issue that needs to be addressed

[2020-08-31 06:09] #294 closed

[2020-08-31 06:13] adnanhemani commented on #414
As this issue has been open for almost a year with no activity, I'm going to close the issue. Please re-open and comment with any relevant information if this is still an issue that needs to be addressed

[2020-08-31 06:13] #414 closed

[2020-09-01 11:10] MinNAg opened #449 "cannot appear figure ,matplotlib version does not support something"
D:\application\Anaconda\lib\site-packages\datascience\__init__.py in
      1 from .version import __version__
      2
----> 3 from .tables import *
      4 from .formats import *
      5 from .maps import *

D:\application\Anaconda\lib\site-packages\datascience\tables.py in
     15 import numpy as np
     16 import matplotlib
---> 17 matplotlib.use('agg', warn=False)
     18 import matplotlib.pypl

[2020-09-01 11:11] #449 closed

[2020-09-02 21:48] davidwagner commented on #445
I will work on this and get back to you shortly!

[2020-09-03 02:38] davidwagner commented on #445
datascience 0.15.8 should fix this.  Update with pip.  I apologize for the issues you were experiencing.

[2020-09-03 02:40] #445 closed

[2020-09-03 02:42] davidwagner commented on #163
@rajalakshmi139, Agreed, would love to see PRs.  Ideally, break up your work into a few separate PRs, rather than one giant PR with all of the documentation.

[2020-09-03 02:56] #407 closed

[2020-09-03 03:40] #442 closed

[2020-09-03 03:41] #444 closed

[2020-09-04 18:50] adityakuppa26 commented on #386
Fixed the issue in https://github.com/data-8/datascience/pull/451

[2020-09-10 06:13] adnanhemani commented on #386
Closed as per #389 .

[2020-09-10 06:13] #386 closed

[2020-09-12 06:23] hmstepanek opened #453 "Possible bug in copy(shallow=False)"
# Problem
Table.copy has a parameter option shallow. By default, shallow is set to False.  One would expect that by default this would preform what's commonly known as a "deepcopy". Meaning, the copied Table's objects contain no references to the original and they each can be changed independently without changing the other. However, this is in fact not the case. Both Table.copy(shallow=True) and

[2020-09-12 20:56] adnanhemani commented on #453
So I can't comment on the original thought of the library creators - but I agree with your assessment that perhaps this is a bug and that `shallow=False` should be a deep copy rather than using `np.copy`. Please go ahead and create a PR with this code fix (seems like you know what's needed) and I'll review. Thanks!

[2020-09-13 01:26] hmstepanek commented on #163
Remaining documentation that needs to be done from the original issue:

# Creation
- [ ] from_records
- [ ] read_table
- [ ] from_df
- [ ] from_array

# Mutation
- [ ] set_format
- [ ] move_to_start
- [ ] move_to_end
- [ ] append
- [ ] remove

# Transformation (I'd say these are the most used methods)
- [ ] stack
- [ ] pivot_bin (needs examples)

# Exporting/Displaying
- [ ] show
- [ ] as_text
- [

[2020-09-13 08:51] adnanhemani commented on #453
Merged in #454 . Thanks for the PR :)

[2020-09-13 08:51] #453 closed

[2020-09-15 17:49] loukikstudent commented on #390
Hi!
I am currently a student and trying to contribute as much as i can, i would like to help you out in this issue, can you guide to the right direction.
Thank you

[2020-09-17 11:15] aryan26roy commented on #163
Hey, I am new to Open Source and i would like to contribute to this.

[2020-09-18 08:14] adnanhemani commented on #163
Hi @aryan26roy, please see any of the methods above that still need documenting and send in a PR when you're ready. See an example PR for this (like #456 or #457) for a good example.

[2020-09-18 08:16] adnanhemani commented on #390
Hi @loukikstudent, I wouldn't recommend this ticket for someone who hasn't used our Maps module (or our library) at all. Please see #163 for a better ticket to start on.

[2020-09-21 17:37] davidwagner opened #458 ".group() with a list raises deprecation warning"
If you call tbl.group(['a', 'b']), you get the following warning:

[code]

This is unsightly.  Is there anything we should/can do in the datascience library to eliminate this?

[2020-09-24 01:22] davidwagner opened #459 ".sort(, descending=True) is not a stable sort"
`.sort('X')` uses a stable sort: in the case of ties in column X, it preserves the existing order of the rows.

`.sort('X', descending=True)` is not a stable sort: in case of ties, it reverses the order of the rows.  It appears to be behave as though we did `.sort('X')` and then reversed the order of the rows.

This is a bit surprising and counter-intuitive.  Is it intentional?  Is there an argume

[2020-09-24 02:47] papajohn commented on #459
Seems like a bug to me. (Probably one that I introduced.)

On Wed, Sep 23, 2020 at 6:22 PM davidwagner <notifications@github.com>
wrote:

[2020-09-25 08:11] Prad06 commented on #390
Hi @adnanhemani, I am an undergrad, totally new to open source, is there anything that I can help with, it would be great if I can help in any way.
Thanks!

[2020-09-25 22:49] adnanhemani commented on #390
@Prad06 - please see above comment.

[2020-09-26 07:15] hmstepanek commented on #459
I can take a closer look at this.

[2020-09-26 14:11] Ipsit1234 commented on #458
@davidwagner You are getting this warning from [this](https://github.com/data-8/datascience/blob/97a9cb882104fba60fb03ad4dd219010f4ea6d6d/datascience/tables.py#L1422) line. I want to fix this, can I do that?

[2020-09-27 05:03] hmstepanek commented on #458
There are actually some more occurrences of this particular deprecation warning when you run the tests as well.
[code]

[2020-09-27 05:06] Ipsit1234 commented on #458
@hmstepanek All of these warnings are of similar kind. Can I try to fix this and contribute to this open-source project?

[2020-09-27 05:16] hmstepanek commented on #458
Yes I think that would be much appreciated! (I've been contributing that last couple weeks and it's been a wonderful experience :) )

[2020-09-27 05:23] Ipsit1234 commented on #458
@davidwagner @hmstepanek I am taking up this issue. Thanks a lot!!

[2020-09-30 10:22] Ipsit1234 commented on #458
I made some changes locally and I ran the tests. Some of the tests were failing among which, most of them were docstring tests. The reason for failure is according to my changes, All the empty strings in a column will be replaced by `None`. But in the docstring, it is not the same case. So should I update the docstrings as well?
![image](https://user-images.githubusercontent.com/44335836/94673832-

[2020-10-01 05:24] SambhaviPD commented on #163
Does any of these require updating? I am new to open source and would like to contribute.

[2020-10-01 05:27] adnanhemani commented on #458
@Ipsit1234 - were these tests failing prior to the changes you made locally? If so, then we should work with the tests available and try to craft code to make sure the tests don't fail (as they represent current behavior - which we're not looking to change).

As for this issue with `None`, I'm leaning towards keeping current functionality of making the cell blank rather than None as well. This is

[2020-10-01 05:36] #459 closed

[2020-10-01 05:38] adnanhemani commented on #163
Hi @SambhaviPD - please see above comment.

[2020-10-01 05:47] SambhaviPD commented on #163
Hi @adnanhemani , are you referring to #390 or #165 (the list mentioned by @hmstepanek ?

[2020-10-01 09:28] vrii14 commented on #163
Hi, I'm new to open source and would like to contribute in these docs. Is any of these open?

[2020-10-02 00:36] krisstee commented on #163
I have an included a PR to contribute to this issue. Please let me know if any adjustments need to be made!

[2020-10-02 02:30] adnanhemani commented on #163
@SambhaviPD, @vrii14: The documentation that still needs to get done is in https://github.com/data-8/datascience/issues/163#issuecomment-691587722

[2020-10-02 09:15] CodTan commented on #163
issue 163: Updated documentation for all methods of creating a table; PR #467

[2020-10-02 20:01] Ipsit1234 commented on #458
@adnanhemani no, the above tests were not failing prior to the changes that I made locally. The reason for the warning on creating an ndarray from ragged nested sequences is due to a recent change in the latest version i.e., v1.19.0 of NumPy, which discontinues the automatic inferring of the `object` datatype. The explanation for the same can be found in [NEP 34](https://numpy.org/neps/nep-0034-in

[2020-10-03 08:39] davidwagner commented on #458
I confess I don't really understand what is happening here.  It looks like in the example you gave, `marbles.group("Shape", sum)` is going to end up executing (effectively):

    c = [sum(np.array(["Green", "Blue", "Green"])), sum(np.array(["Red", "Red", "Green"]))]
    columns.append(c)

I would expect that to raise an exception.  Does it somehow get converted to `None`, and then numpy converts t

[2020-10-03 11:25] Ipsit1234 commented on #458
I am getting this warning only when I am running the tests, as @hmstepanek  mentioned above. In normal usage, I didn't get any warning on using `tbl.group(['a','b'])` . I thought that while grouping somehow the ragged lists were forming by looking at the tests, but when I checked the code, it was not the case.
Sorry @davidwagner for the confusion, also can you provide a code snippet to reproduce t

[2020-10-03 21:56] davidwagner opened #470 "make test errors out with unrecognized arguments"
On my Linux machine, `make test` yields the following error message:

[code]

What am I missing about how to make this work?

I have run `pip install -r requirements.txt` so if I'm missing some Python package, then maybe it should be listed in requirements.txt.  I have nbsphinx 0.7.1, nbconvert 5.5.0, nbformat 4.4.0, nbval 0.9.6 installed.

[2020-10-03 21:56] davidwagner opened #471 "Warnings from make docs"
When I run `make docs` I get the following warning messages:

[code]

[2020-10-03 22:12] adnanhemani commented on #470
Hey, I think I put something about this error here: [https://github.com/data-8/datascience/pull/432#issuecomment-683525521](https://github.com/data-8/datascience/pull/432#issuecomment-683525521)

Does having this library help: `pytest-cov`?

[2020-10-03 22:17] davidwagner commented on #458
I observed this in lec11.ipynb for Fall 2020's Data 8 demos, in the `survey.group(['Handedness','Sleep position']).show()` cell, but only on my local machine, not on datahub.  Possibly because my local machine has numpy 1.19.1 whereas datahub has numpy 1.18.5.  Let me see if I can construct a minimal reproducible testcase.

[2020-10-04 23:28] hmstepanek commented on #470
I ran into this issue too. I believe this has to do with not including `nbval` and `pytest-cov` libraries in `tests_requires` in `setup.py`:
Current `setup.py`:
[code]
Fixed `setup.py`:
[code]

[2020-10-07 02:06] adnanhemani commented on #470
Interesting - I didn't think that was necessary, but I'm probably wrong. @davidwagner - could you give this a try?

[2020-10-07 03:06] adnanhemani opened #475 "SSL Issues in Tests?"
Travis CI is freaking out and is unable to run our test suite completely due to an SSL error, which I do not think is due to any changes we've made...

Here is the entire [error message](https://travis-ci.org/github/data-8/datascience/builds/732660087#L2868).

If someone could start researching on why this may be happening, that would be highly appreciated. I'll probably try a few things myself -

[2020-10-07 03:34] adnanhemani commented on #475
Nvm, cleaning out Travis CI's cache did the trick :)

[2020-10-07 03:34] #475 closed

[2020-10-07 03:46] adnanhemani opened #476 "Rise total repo testing to 97%"
Due to the relatively-high activity on this repo, I'm putting down one of my larger goals in hopes that maybe people will help chip in on this!

I'm looking to rise the total repo testing percentage up to 97+% from the current 89% (I'll consider this issue closed at 97%).

For those just starting out with this, here's a few pointers:

- Take a look at the [Coveralls report](https://coveralls.io/gi

[2020-10-07 08:28] davidwagner commented on #470
Oh!  That was exactly the issue.  Sorry that I missed that your earlier comment, @adnanhemani.  Pilot error on my part.

I've been reading about `tests_requires` in setuptools.  Does that even work?  The documentation refers to `tests_require` rather than `tests_requires`.  Apparently `tests_require` is now deprecated as of recent versions of setuptools, and we're not supposed to use `python setup

[2020-10-08 08:17] adnanhemani commented on #470
Yup, we should look into that for sure. I haven't had much time recently to take a look at it but maybe we should create a new issue for that and close this issue out if this is resolved? (or maybe I've misread and actually we need changes to the linux_environment.yml file?)

[2020-10-09 12:50] vrii14 commented on #163
@adnanhemani
Could you please guide me to where exactly is the row and rows classes? I couldn't find it.

[2020-10-12 17:32] MarthaDs commented on #476
Hi, I would like to take this issue. Can you please assign it to me?

[2020-10-14 08:57] davidwagner commented on #476
@MarthaDs, great, would be wonderful to have help!  I would not anticipate assigning a single individual to this issue -- rather, I imagine we'll get there through incremental progress, and that seems like something that we could easily have multiple people working on.  Can I encourage you to pick some part of the code and prepare a small Pull Request that increases coverage on that code?

[2020-10-14 19:29] adnanhemani commented on #163
@vrii14 : [Here](https://github.com/data-8/datascience/blob/master/datascience/tables.py#L5379-L5423)

[2020-10-15 20:46] gurupratap-matharu opened #483 "Feature Enhancement - Add tox for testing multiple python versions"
An awesome feature for this package would be to use a great tool like tox
to automatically  test the package against different python versions.

A PR is linked which does it ;-)

Thank you

[2020-10-19 18:01] StevenClontz opened #484 "Is `boxplot()` implemented?"
I seem to be unable to replicate http://data8.org/datascience/_autosummary/datascience.tables.Table.boxplot.html

[2020-10-19 20:55] athossampayo commented on #476
Did two PRs related, hope it's all good there. Separated in two PRs as asked too. Any problem let me know!

[2020-10-21 21:55] StevenClontz commented on #484
I think I figured it out - it seems that the lines

[code]

are required to make graphics appear in a Jupyter notebook. My apologies if I missed that part of the documentation.

[2020-10-21 21:55] #484 closed

[2020-10-28 20:24] Yanay1 opened #487 "Histogram Axis and Scatter Plot Points don't line up"
A student on piazza pointed this out:
![image](https://user-images.githubusercontent.com/10257130/97492485-da79df00-1920-11eb-8b42-c238a29593e1.png)
![image](https://user-images.githubusercontent.com/10257130/97492494-dfd72980-1920-11eb-9246-a2db5fc14842.png)
When they specified bins, the axis did line up.

[2020-11-10 20:25] mycarta commented on #386
Hi there
FYI `colors` is still used in the notebooks for the edX  Data8.1x course (for example in the cde cell below, from lab 05 :

[code]
I just completed that class and downloaded the lab notebooks for further play unning them locally on my machine. For that purpose I created a virtual env with the latest version of the `datascience` library (updated today to be sure). I presume the notebooks r

[2020-11-14 22:41] davidwagner commented on #483
Looks like this is PR #482.  I'm new to tox: can you help me understand what the benefit would be?  Is it common for code to fail on one version of Python and not another?

[2020-11-15 04:41] davidwagner opened #491 "Error terms in x-axis labels are back again"
The issue from #347 and #311 is back again: On some datasets, the numbers on x-axis have error terms due to rounding point error (e.g., 0.1999999999999 instead of 0.2).  See the following notebook for a demonstration.

![dsbug](https://user-images.githubusercontent.com/3349841/99163043-2797d800-26b9-11eb-9065-ec9e5c1ea41c.png)

The weird thing is that `with np.printoptions(legacy='1.13'): ...` doe

[2020-11-16 01:06] gurupratap-matharu commented on #483
Failing of a package on different python versions depends upon the
complexity of the package.
Since this repo is a pip package we cannot guarantee each user using it
will have the same base python version
we want them to have.
It's great that the package is being tested by unit tests.
Tox simply helps run those tests against different python versions
automatically to assure that the package
is gua

[2020-12-09 07:17] skp-github commented on #476
@adnanhemani @davidwagner  based on your comments, just wanted to let you guys know that i will start to work on this now

[2020-12-17 01:02] tbrown122387 opened #492 "putting a fork of this repo on PyPI"
I will be teaching an intro stats class in the Spring that makes heavy use of this package. There have been a few very small things I wanted to change, so I created a fork. Really small things--I'm talking "changing the default plotting colors from Berkeley colors" small.

Would it be okay if I put my work on PyPi under a new name? This way my students could install the fork with `pip`. If so, sho

[2020-12-17 02:09] adnanhemani commented on #492
I believe this is a decision above my pay grade 😉 @davidwagner would be able to answer this better.

From my perspective, while I’d prefer that people use the library as-is and contribute if there’s anything that fundamentally needs changing, I think it might be okay to deploy a fork to PyPi given that it is very clearly denoted in the package title that the new package is a fork of the original (

[2020-12-17 02:12] papajohn commented on #492
I think that's fine. Please extend the author list as needed.

On Wed, Dec 16, 2020 at 6:09 PM Adnan Hemani <notifications@github.com>
wrote:

[2020-12-17 02:24] tbrown122387 commented on #492
thanks @papajohn @adnanhemani sure will do!

[2021-01-30 00:55] AdilGM commented on #163
Hey! Is there any more documentation that needs to be done that I could help out with?

[2021-01-30 00:56] AdilGM commented on #387
Hey Adnan, has the new version released? I can help add documentation if needed.

[2021-01-30 18:20] AdilGM commented on #476
Hi guys, is help still required? As I am just starting to contribute to open-source projects it would be great to have some assistance on starting.

[2021-02-08 18:56] Yanay1 opened #493 "Numpy Definition of Histogram Differs from Data 8 Definition"
From numpy histogram documentation: https://numpy.org/doc/stable/reference/generated/numpy.histogram.html

"All but the last (righthand-most) bin is half-open. In other words, if bins is:

[1, 2, 3, 4]
then the first bin is [1, 2) (including 1, but excluding 2) and the second [2, 3). The last bin, however, is [3, 4], which includes 4."

This is different from the definition we use in class where e

[2021-02-11 11:49] adnanhemani commented on #493
@Yanay1 - just to confirm, in class we're currently teaching the opposite bin theory? i.e. left-hand of the bin is exclusive and right-hand of the bin is inclusive? If so, is there a pedagogical reasoning for this?

The reason why I ask is because there's no easy patch for this. The best way I can tell is probably doing something similar to this: [https://stackoverflow.com/questions/62726096/exclu

[2021-02-11 11:51] adnanhemani commented on #387
@AdilGM yes. the current version of the library is the latest (and stable version). Please feel free to start with the documentation if you'd like!

[2021-02-11 11:52] adnanhemani commented on #163
@AdilGM please check the list above - and if there's anything in the repo that's not listed here but doesn't have documentation, please feel free to send in a PR as well :)

[2021-02-11 11:53] adnanhemani commented on #492
@tbrown122387 marking this issue as closed - please feel free to reopen if there's any action items that are still open 😃

[2021-02-11 11:53] #492 closed

[2021-02-12 18:09] Yanay1 commented on #493
No, we still teach left side inclusive right side exclusive but the numpy definition has the right side of the last bin (ie the rightmost bin) as inclusive. It's not a huge issue but might cause some confusion for students.

[2021-02-16 03:07] adnanhemani commented on #471
Fixed in #481. Marking as closed.

[2021-02-16 03:07] #471 closed

[2021-02-16 03:21] adnanhemani commented on #493
Oh I see. But I don't think we should change the definition - it makes more sense, in my opinion, to keep the last bucket inclusive as well to make sure that if a student uses the greatest possible value as the end of their bins, they'll get all possible values in their histogram.

I'm going to close this ticket for the time being (and to reduce clutter on this repo), but if this becomes a larger

[2021-02-16 03:21] #493 closed

[2021-02-16 03:22] adnanhemani commented on #483
Closed with #482.

[2021-02-16 03:22] #483 closed

[2021-03-02 15:47] anshpujara14 commented on #476
Hello! I am willing to help over this issue if required. Since I am new to contributing it would be of great help for me too.

[2021-03-02 15:49] anshpujara14 commented on #163
Hey anymore documentation required to be done? Willing to help!

[2021-03-13 22:00] davidwagner commented on #163
@anshpujara14 Thank you for your offer -- see the list at the top of this issue for some ideas on further documentation!

[2021-03-15 05:17] surajrampure commented on #458
Hi all! Just wanted to bump this – I get the same issue described in the original post both locally and on DataHub.

<img width="400" alt="Screen Shot 2021-03-15 at 1 16 07 AM" src="https://user-images.githubusercontent.com/10468713/111106813-29b95880-852c-11eb-833b-045da7ad89da.png">

[2021-03-22 21:47] papajohn opened #494 "Inferential Thinking Textbook build causes deprecation error for normed keyword"
All the graphics (histograms & maps) on the section 8.5 page give warning messages, such as:

[code]

The graphics do render.

[2021-03-23 00:18] surajrampure opened #495 "bar and group_bar aren't implemented under Table.interactive_plots()"
It seems like only `barh` and `group_barh` are supported with plotly for now.
Furthermore, while `ibarh` exists, `igroup_bar` does not, which seems a little inconsistent (and it means that there's no way to access that functionality without running `Table.interactive_plots()` first).

[2021-03-25 07:40] davidwagner commented on #495
Thanks, Suraj.  I rely on @chrispyles and @khsu2000 for maintenance or improvements to the interactive plot stuff.  I don't know whether there are any plans to add support for that.  It's beyond my capability to implement that myself.

[2021-04-02 03:43] surajrampure opened #496 "Specifying bins as arrays when using `group` and `overlay` with Table.hist and Table.interactive_plots() causes an error"
Sorry for the wordy title. I've attached a screenshot of the issue.

The error doesn't occur if you remove `overlay = False`, or if you specify `bins` to be an integer rather than an array. (`bins` as an array works in all other cases.)

<img width="865" alt="Screen Shot 2021-04-01 at 11 42 13 PM" src="https://user-images.githubusercontent.com/10468713/113378014-ea6c7380-9343-11eb-884a-de015be079a

[2021-04-05 02:49] adnanhemani commented on #495
^ +1 to that. @davidwagner and I aren't supporting this part of the library.

[2021-04-05 02:50] adnanhemani commented on #496
As this is a bug with the interactive plots part of the library, @chrispyles and @khsu2000 are the point of contacts on this.

[2021-04-05 05:40] khsu2000 commented on #496
Looking into this now.

[2021-04-05 06:19] surajrampure commented on #496
Thank you! I’ve identified a few more plotly integration bugs; should I keep opening issues here or is there a more convenient place for me to put them?

[2021-04-05 06:20] khsu2000 commented on #496
I believe the PR I made (#480) that was merged last month resolves this issue. When I install the most recent version of datascience and try the command, I'm able to produce the expected graphs:
![image](https://user-images.githubusercontent.com/42821828/113543827-0a966f80-959c-11eb-8abb-ecd6a94ffa36.png)
I also verified that using datascience before this PR was merged results in the error that yo

[2021-04-05 06:22] khsu2000 commented on #496
I'm unsure of if there's a more convenient location to list issues, opening new issues should be fine.

[2021-04-06 05:46] khsu2000 commented on #495
I've created the PR listed above that adds these functions.

[2021-04-11 15:43] AstralRomance commented on #476
Hello. Can I help with this issue?
Is some there test strategy or msth like this?

[2021-04-13 17:00] tbrown122387 opened #498 "overlaying a scatter plot point on top of a histogram makes the histogram disappear"
Some of the plotting functionality of `Table`s has been strange this semester. For example, overlaying a scatter plot point on top of a histogram either a.) messes up x-axis labels or b.) makes the histogram disappear even though the x-axis is okay. Here are some before-and-after screenshots from a student of mine.

![image (3)](https://user-images.githubusercontent.com/1740324/114590437-c6b80000-

[2021-04-24 19:11] Londala commented on #476
Hi, I am willing to help with this issue, specifically in helping expand coverage in the maps.py file, as it seems to have the least coverage (84.6% coverage at this time).

[2021-05-26 10:10] jr-42 commented on #476
Hey,
I'd like to contribute to this issue.

[2021-06-15 19:37] abbycrisp1 opened #506 "How do i install data science module into jupyter notebooks?"
I did
!pip install git+git://https://github.com/data-8/datascience.git
 however it doesn't recognize the file

[2021-06-16 12:59] Shreyas-hacker commented on #506
I guess u can just try pip install datascience? If u scroll to the bottom of the page of that website they have written how to pip install it

[2021-06-19 01:22] #506 closed

[2021-06-24 23:34] davidwagner commented on #476
Hi all, thank you for your willingness to contribute!  We'd welcome your help.  No need to request permission to contribute -- you are welcome to find a spot where we could have better test coverage, write a useful test, and submit a PR adding that test, and we'll review the PR when we're able.  I'm a bit slow in getting to them, and I apologize in advance for that.  I suggest breaking changes dow

[2021-06-25 00:14] davidwagner opened #507 "Warnings in tests/plotly-charts.ipynb"
`t.scatter("weight", ["hp", "displ"], group="origin")` and `t.scatter3d("weight", 'accel', ["hp", "displ"], group="origin")` yield the following warning:

`UserWarning: Group and overlay are incompatible in a scatter`

@khsu2000 or @chrispyles,  Any idea what is going on here?

[2021-06-25 00:31] davidwagner opened #508 "Travis integration no longer works"
Travis shut down travis-ci.org.  Migration is necessary if we want to continue using Travis: https://docs.travis-ci.com/user/migrate/open-source-repository-migration/, https://docs.travis-ci.com/user/migrate/open-source-on-travis-ci-com/.  I've requested OSS credits from Travis.

Alternatively, we could switch to something else, e.g., Github Actions.

[2021-06-25 00:39] davidwagner commented on #508
I haven't figured out how to connect my travis-ci.com account to the data-8/datascience Github repo, so I haven't been able to figure out how to migrate to travis-ci.com.

[2021-06-25 00:43] davidwagner commented on #498
Is the issue with the x-axis labels that they are truncated?

[2021-06-25 00:44] davidwagner commented on #496
@surajrampure , opening additional issues here for any other plotly integration issues you find would be great!  Thank you.

[2021-06-25 00:45] davidwagner commented on #495
@surajrampure   I've merged this.  Let me know if you'd like me to release and push an updated version of the datascience library to Pypi so you can use this.

[2021-06-25 00:45] #495 closed

[2021-06-25 01:36] davidwagner commented on #163
@PubliusV,  If you take a look at the style we've used for other docs and follow them, that should get you most of the way.

[2021-06-29 01:54] KP92-KP opened #509 "Marker.map_table not showing labels"
Hello,

I am trying to plot locations using map_table. I have a table with latitude, longitude and site name. When I plot it, it does not show the label names. Any ideas on why this might be happening? I have confirmed that the column 'SITE' has site names as string.

`Marker.map_table(dt.select('Latitude', 'Longitude', 'SITE'))`

![map](https://user-images.githubusercontent.com/63329007/123725021

[2021-07-01 09:08] khsu2000 commented on #509
Hi Kanan,

I looked into this issue, and I believe that the issue is that the column name `SITE` is not recognized. If you refer to this line in the documentation for `Marker.map_table`, it explains the required column names:
https://github.com/data-8/datascience/blob/887e7275d593f928bcae4c86bdd2356c1bbd6ad7/datascience/maps.py#L658-L660

Additionally, I also tested this code with the most recent

[2021-07-01 09:39] khsu2000 commented on #507
@davidwagner From my investigation, this issue is caused by specifying multiple columns to plot against on the y-axis (`"hp"` and `"displ"`). This is because of the follow checks in `Table.scatter`, `Table.iscatter`, and `Table.iscatter3d`: https://github.com/data-8/datascience/blob/887e7275d593f928bcae4c86bdd2356c1bbd6ad7/datascience/tables.py#L3953-L3955

This warning also showed up for the non-

[2021-07-08 05:08] davidwagner commented on #509
Thank you for figuring this out @khsu2000 !

[2021-07-08 05:08] #509 closed

[2021-07-08 20:32] KP92-KP commented on #509
Thanks everyone for the help on this!

On Thu, Jul 8, 2021 at 12:09 AM davidwagner ***@***.***>
wrote:

--
Kind Regards,
Kanan

[2021-07-09 22:41] papajohn opened #510 "Labels do not appear on map markers when using map_table"
Passing a three-column table to `map_table` is meant to place markers on a map with labels that appear when clicking on a marker. E.g., from https://inferentialthinking.com/chapters/08/5/Bike_Sharing_in_the_Bay_Area.html

`Marker.map_table(stations.select('lat', 'long', 'name'))`

However, the labels are blank in the map (despite being present in the data). Perhaps `folium` changed its API.

[2021-07-25 18:57] khsu2000 commented on #510
I believe this should is the same problem as https://github.com/data-8/datascience/issues/509, where `'name'` should be changed into `'labels'`.

[2021-07-29 17:30] HarshKumarSingh07 commented on #163
Hey everyone, @davidwagner @adnanhemani,  I have generated a pull request kindly verify once and please suggest improvements if required. I being a newbie to open source, any suggestions would be highly appreciated.

[2021-08-05 09:18] Hetarth02 commented on #163
I would like to help with documentation, can someone please guide me on the current stats of the docs and which topics need documentation?

[2021-09-01 07:05] davidwagner commented on #510
Same as khsu2000 explained -- This looks like it's not a bug in the `datascience` library, but rather a bug in the textbook.  The docs for `Marker.map_table` say that the column name must be `labels` (`name` is not OK).  See http://data8.org/datascience/maps.html#datascience.maps.Marker.map_table.

[2021-09-01 07:05] #510 closed

[2021-09-01 07:25] davidwagner commented on #458
This also shows up in Chapter 8.5 of the textbook.

[2021-09-07 17:47] willfurtado opened #512 "Circle.map_table not using `colors` kwarg"
Running the following code will output an interactive map with one circle for each row (data point):

[code]

While the `areas` argument is recognized, the circles themselves are not being colored appropriately; I believe I am calling the `Circle.map_table` method appropriately (per documentation). The output looks like:

<img width="965" alt="Screen Shot 2021-09-07 at 10 45 59 AM" src="https://us

[2021-09-07 19:17] raymondw2 commented on #512
<img width="1023" alt="Screen Shot 2021-09-07 at 12 14 41 PM" src="https://user-images.githubusercontent.com/56237041/132398730-4a6d2cbf-dd4b-4989-b3d1-bf8f953edb61.png">
<img width="979" alt="Screen Shot 2021-09-07 at 12 14 53 PM" src="https://user-images.githubusercontent.com/56237041/132398758-df7ecd6d-6cff-4ae7-9280-eb8b84d7eb64.png">

The input to `Circle.map_table` is correct as you have wri

[2021-09-07 19:24] davidwagner commented on #512
Maybe we should extend `map_table` to copy the `colors` column over into a border argument, if there is no border argument explicitly specified, so that the color is more visible.  What do you think of that idea?

(I also wonder if maybe this behavior changed at some point in the past, e.g., in folium or something...)

[2021-09-16 03:59] davidwagner opened #513 "Table.remove() converts columns into lists"
When using `Table.remove()`, the type of the columns in a table become lists.  They should remain arrays.  See attached notebook for an example.

[TableRemoveOddity.zip](https://github.com/data-8/datascience/files/7174805/TableRemoveOddity.zip)

Sample code to reproduce:

[code]

Looking at the implementation of `.remove()` (https://github.com/data-8/datascience/blob/master/datascience/tables.py#L

[2021-09-17 16:17] davidwagner opened #514 "hist.(group=...) triggers VisibleDeprecationWarning"
See e.g. fa21 lec10.

[code]

TODO: Need to create a minimal reproducible example.

Maybe related to #458.

[2021-09-23 18:01] eroubenoff opened #515 "datascience.Table.hist inconsistent y-axis with pyplot"
When producing histograms from tables with no additional arguments, the y-axis comes as `percent per unit`. To be consistent with matplotlib it should plot the frequency on the natural scale, as show below. The correct behavior is possible by passing `density=False` to `Table.hist` (which I gather is passed as `vargs`). This is confusing because not only does `pyplot.hist` default to `density=Fals

[2021-09-29 21:44] langdon commented on #514
assuming you have access to the galton.csv from data8 (could probably also be a bit more minimal)

[code]

[2021-09-29 21:48] langdon commented on #458
For a workaround, you can add `%%capture --no-display` to the top of the cell. Obviously, YMMV.

[2021-10-01 09:28] appledora opened #516 "Is there any tutorial on how to contribute to the documentation?"
Just as the titlesays, is there any guidelines on how a new contributor can write method documentation and create PRs?

[2021-11-15 22:29] CharlieJCJ opened #519 "Datascience documentation has a typo"
![image](https://user-images.githubusercontent.com/55744150/141862800-5004bb22-ca87-44c2-b2f4-2bbeb31e7a23.png)

(I'm a current Data8 student), and when I'm reviewing the documentation of barh, I found a typo in the documentation. "furniture_table" is not defined yet. Thanks!

[2021-11-16 00:13] JinwooPark00 opened #520 "index_by"

[2021-11-18 17:35] yuvipanda opened #522 "Upload a wheel to PyPI"
Currently, only an `sdist` (.tar.gz) is [uploaded to PyPI](https://pypi.org/project/datascience/#files). This means we can't install this package on [jupyterlite](https://jupyterlite.readthedocs.io/en/latest/), a fully fledged jupyter installation running python and the scientific stack just on your browser! It can install only pure python wheels, and I think the datascience package fits that bill

[2021-11-18 17:55] yuvipanda opened #523 "Remove sphinx and nbsphinx from requirements.txt file"
These aren't actually required for the package to function, and since `setup.py` reads `requirements.txt`, these packages get installed each time someone installs datascience package. This becomes a problem for Jupyterlite (similar to https://github.com/data-8/datascience/issues/522) as nbsphinx and sphinx pull in a *lot* of dependencies, many which can't be installed on jupyterlite

[2021-11-18 19:18] ericvd-ucb commented on #522
@data-8/infra-fall21  can we put this on the list!

[2021-11-18 19:25] yuvipanda commented on #523
@ericvd-ucb this is also required  to get the datascience package working on jupyterlite

[2021-11-29 23:41] #520 closed

[2022-01-08 06:52] abhishict commented on #513
I've fixed this issue in the above pull request, could you please review and approve. Thanks!

[2022-01-10 07:21] CharlieJCJ commented on #519
Any updates on this issue? I still can see the typo on the website.
link: http://data8.org/datascience/_autosummary/datascience.tables.Table.barh.html#datascience.tables.Table.barh

[2022-01-10 18:04] Ruofeng-Wang commented on #519
I think I’ve updated the code and just waiting for my pr to be approved.

On Sun, Jan 9, 2022 at 11:21 PM Charlie Cheng-Jie Ji <
***@***.***> wrote:

[2022-02-28 10:55] PyVCEchecker opened #529 "“python_requires” should be set with “>=3.0”, as datascience is not compatible with all Python versions."
Currently, the keyword argument **python_requires** of **setup()** is not set, and thus it is assumed that this distribution is compatible with all Python versions.
However, I found the following code checking Python compatibility locally in **setup.py**
[code]
I think it is a better way to declare Python compatibility by using the keyword argument **python_requires** than checking compatibility l

[2022-04-08 04:45] davidwagner opened #530 "make test doesn't work"
`make test` no longer works.  It gives the following error on my machine:

[code]

I suspect the issue is the use of pytest 6.0.1.  It sounds like changes to the `ast` package broke pytest: https://bugs.python.org/issue43798, https://github.com/pytest-dev/pytest/issues/8539.  And, `requirements-testing.txt` currently pins pytest to version 6.0.1.

Updating to pytest 6.2.5 fixes this specific probl

[2022-04-28 19:33] #523 closed

[2022-04-28 22:26] yuvipanda commented on #522
Just fixed!

[2022-04-28 22:26] #522 closed

[2022-06-05 03:50] adnanhemani commented on #508
Closed by #528. #534 should get us to unblocking the master branch again and be open for new PRs again 🎉

[2022-06-05 03:50] #508 closed

[2022-06-05 05:36] adnanhemani commented on #514
On further inspection, this is definitely caused by the same root cause as #458. I'm working on the issue now but I'm closing this ticket and transferring the comments over to track on that ticket alone.

[2022-06-05 05:36] #514 closed

[2022-06-05 05:39] adnanhemani commented on #458
From @davidwagner on #514 - which is a duplicate of this ticket. My next comment will explain the underlying, same issue:

datascience/tables.py:920: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creati

[2022-06-05 06:13] adnanhemani commented on #458
All code paths that are showing this deprecation warning are going through this code: https://github.com/data-8/datascience/blob/master/datascience/tables.py#L999.

As @ipsitmantri explained above, this is causing the condition in [NEP 34](https://numpy.org/neps/nep-0034-infer-dtype-is-object.html) - and the deprecations have been made in Numpy 1.19.x+ AFAIK. As I don't see a reason to change any

[2022-06-05 06:22] adnanhemani commented on #496
Noting that this issue should now be resolved, I'm going to close this issue. @surajrampure please feel free to open new issues for the plotly integration! :)

[2022-06-05 06:22] #496 closed

[2022-06-05 06:28] adnanhemani commented on #470
Closing out this issue - I believe the changes we made to get Github Actions should suffice for the long-term. Let's keep an eye on our new testing infrastructure for the future :)

[2022-06-05 06:28] #470 closed

[2022-06-05 07:09] adnanhemani commented on #512
I agree with that and created a PR for it: #536. I don't believe the behavior has ever really changed, but we always just kept blue as our default IIRC.

[2022-06-05 07:11] adnanhemani commented on #498
As strange as this bug report is, I'm closing it out since we've got no information for a successful reproduction. Please feel free to comment back if there's any additional information on how we can replicate the issue :)

[2022-06-05 07:11] #498 closed

[2022-06-05 07:25] adnanhemani commented on #494
I'm unable to reproduce this issue - and the textbook doesn't seem to have this issue either currently: https://inferentialthinking.com/chapters/08/5/Bike_Sharing_in_the_Bay_Area.html

I'm assuming it's been corrected on it's own due to some data science version upgrade?

@debbieyuster - if you still see this issue, please let me know how to reproduce (including datascience and Python versions). I

[2022-06-05 07:25] #494 closed

[2022-06-05 08:14] adnanhemani commented on #491
Umm well this was an interesting issue....took me a few hours to find a solution, although I'm not 100% sure why this is actually happening. I ended up adding `plt.show()` within the `with np.printoptions(legacy='1.13'):` block and the round error went back to expected behavior...

<img width="979" alt="Screen Shot 2022-06-05 at 3 11 58 AM" src="https://user-images.githubusercontent.com/10746770/1

[2022-06-05 10:35] adnanhemani commented on #487
This problem is underlying in matplotlib - and not a problem with datascience. What is happening here is that the new scatterplot that is added to the same axes is autoscaling incorrectly. This is a known issue: https://stackoverflow.com/questions/41675155/matplotlib-graph-with-same-data-doesnt-overlap

We're in a weird situation here now: since we're providing a wrapper on top of matplotlib, we c

[2022-06-05 10:38] adnanhemani commented on #491
Never mind, this solution doesn't work - adding an overlaying plot breaks by using this approach. Looking for another solution now.

[2022-06-05 23:17] adnanhemani opened #538 "Make Plots Compatible with %matplotlib notebook"
Currently, the plot dimensions seem to have issues when using `%matplotlib notebook`. This magic function will allow us to make all plots interactive by default. However, the plot dimensions are causing problems out-of-the-box at this time. Example:

<img width="935" alt="Screen Shot 2022-06-05 at 6 15 39 PM" src="https://user-images.githubusercontent.com/10746770/172074662-6a823049-3caa-467e-8978

[2022-06-06 07:15] adnanhemani commented on #491
New PR opened. New approach is to manually set the printoptions when the library initializes and to throw a user warning if the user changes this property.

[2022-06-06 20:13] #530 closed

[2022-06-06 20:13] davidwagner commented on #530
That fixes the problem for me too, thank you!

[2022-06-06 20:34] davidwagner opened #540 "Deprecation warning for np.int in _vertical_x()"
Low-priority: `make test` shows the following deprecation warning:

[code]

It appears that `np.int` should be converted to `int`.

[2022-06-06 21:04] davidwagner opened #541 "Actions for running tests are erroring out"
The Github action to build and run tests is failing.  I'm not sure why.

The first failure I see is

[code]

I noticed that the config file specifies Python 3.10, but we seem to be currently getting Python 3.6.  From the logs of the output (under 'Set up conda environment'):

[code]

Perhaps this is related?

[2022-06-07 01:59] debbieyuster commented on #494
Thanks, looks good now!

[2022-06-07 20:57] davidwagner commented on #541
Oh, I see the problem.  Some of the older pull requests were created before `.github/workflows/run_test.yml` was updated to use `python-version: '3.10'`, so their tests are still running with the old version of that file and thus with Python 3.6 and thus are failing.

[2022-06-07 21:15] davidwagner commented on #541
The workaround for old pull tests is to fetch the branch locally via the command line and run the tests locally.  This seems to work OK.

[2022-06-07 21:52] davidwagner commented on #519
Should be fixed by #524.  Sorry for the delay.

[2022-06-07 21:52] #519 closed

[2022-06-07 21:55] davidwagner commented on #487
For future reference, the workaround for the old Data 8 Project 2 is to change

[code]

to:

[code]

[2022-06-07 22:02] davidwagner opened #542 "Docs are not getting automatically built"
With the death of Travis CI, docs are not automatically getting built and pushed to the readthedocs website.  I guess we should figure out how to recreate that with Github Actions.

Separately, running `make docs` locally doesn't work for me.  When I try, I get the following error:

[code]

but `folium` is installed inside my venv:

[code]

so I'm a bit stuck there.  Perhaps Sphinx is somehow esca

[2022-06-09 20:57] davidwagner commented on #458
Pull request #535 seemed to cause a bunch of tests to break, alas, so it seems we need to look at this some more.

[2022-06-12 01:08] adnanhemani commented on #541
Yup, makes sense. I'll close this ticket since we now have a workaround :)

[2022-06-12 01:08] #541 closed

[2022-06-12 01:09] adnanhemani commented on #487
Thanks for the note @davidwagner! I've gotten this project is now retired, so I'll close this issue out.

[2022-06-12 01:09] #487 closed

[2022-06-12 01:11] adnanhemani commented on #491
Closing issue as PR has been closed.

[2022-06-12 01:11] #491 closed

[2022-06-12 02:05] adnanhemani commented on #458
Yup, you're right - it didn't break for me originally, but it definitely did when I tried pulling this time. I've opened a new PR #544 to solve this now. Thanks for checking!

[2022-06-12 04:06] adnanhemani commented on #542
Hmm...I'm not able to reproduce your local `make docs` issue. It's running fine for me, especially after upgrading to the latest `Sphinx` and `nbsphinx` versions:

[code]

In the meantime, let me see what we can do about push the docs!

[2022-06-12 22:51] #542 closed

[2022-06-12 22:53] davidwagner commented on #542
Wonderful, thank you!  And I figured out my issue with running `make docs`: I needed to do `pip install -U -r docs/requirements.txt`.  Oops.  My fault.  Thanks for getting this working!

[2022-06-12 22:54] #540 closed

[2022-06-13 03:04] #512 closed

[2022-06-13 03:19] #458 closed

[2022-06-13 04:23] davidwagner commented on #507
Thanks for the diagnosis!  That makes sense.  I appreciate your help.  What would you recommend?  Do you see any value in that warning?  I'm struggling to find any situation where it is useful.

[2022-06-16 13:23] taylorgibson opened #548 "v0.17.5 not pip installable"
Is there a timeline for pushing the latest release, `0.17.5` to pypi? The latest version that is installed when running `pip install datascience` is `0.17.2` which is not compatible with python 3.10+ due to the deprecation of `collections.Iterable`. Thanks!

[2022-06-20 06:06] #513 closed

[2022-06-20 08:37] adnanhemani commented on #548
Hi Taylor, sorry for the delay - we've been busy trying to get the library ready for our next release :) I believe we have just one more PR under works/review (#500), which adds a bug fix to the 0.17.5 release. After we merge that in, I believe @davidwagner will be able to release v0.17.5.

I'll let @davidwagner comment on if there's any further delays/issues that I'm not aware of.

[2022-06-20 09:56] #548 closed

[2022-07-10 21:47] willfurtado opened #549 "`Table.scatter` method doesn't recognize `sizes` argument"
## Problem

When developing Data 6 curriculum, I ran into a (supposed) error with the `Table.scatter` method. Despite there being a large range of possible values for `body_mass_g`, the `scatter` method seems to plot all points as the same marker size.

<img width="539" alt="Screen Shot 2022-07-10 at 5 43 39 PM" src="https://user-images.githubusercontent.com/56857749/178163067-31ca059d-b934-453a-9

[2022-07-11 03:11] adnanhemani commented on #549
Hi Will,

There's actually no bug - the issue is the differences between the datapoints is very small in the grand scheme of things, so while there is scaling happening technically, the scaling is too undetectable to tell. For example, look at this sample codeI used to test where I inserted a massive datapoint into the dataset and that point would cause the other datapoints to scale to being much

[2022-07-11 03:11] #549 closed

[2022-07-14 01:14] willfurtado commented on #549
Got it! Thanks so much for going out of your way to point this out -- I appreciate it.

[2022-08-02 13:20] Shershon25 commented on #163
Hey! If no one is currently adding documentation to the 'Rows' class, can I try adding to it?

[2022-08-09 17:49] sean-morris opened #550 "Getting warning from numpy when creating pivot table"
The following screenshot illustrates the VisibleDeprecationWarning we are getting from numpy when creating a pivot table using the datascience package.
![image](https://user-images.githubusercontent.com/1514995/183722948-b970c722-e770-468c-88c1-3ad6359d836a.png)

Here is a StackOverflow entry discussing the issue:
https://stackoverflow.com/questions/63097829/debugging-numpy-visibledeprecationwarni

[2022-08-10 05:05] davidwagner commented on #550
What version of the datascience library are you using?  I think we fixed several issues of this sort in v0.17.5 (fixed in PR #458, also reported in #514 and #458).  Or is there another one of these that we missed?

[2022-08-10 23:28] adnanhemani commented on #550
Yup, this is the exact errors I had seen before fixing it in the latest version of datascience, as mentioned by @davidwagner. I’ll mark this as closed for now, please feel free to comment back with steps for reproduction using the latest version of datascience if it is still occurring for you and re-open the ticket!

Thanks for the report!

[2022-08-10 23:28] #550 closed

[2022-08-10 23:30] adnanhemani commented on #163
Hi @Shershon25 - we don’t have anyone working on this AFAIK. Please feel free to take any methods/classes and open a PR whenever your code is ready!

[2022-08-10 23:43] sean-morris commented on #550
Yes thanks I upgraded to 0.17.5 and this went away. Unfortunately, I think I spotted another one:
![image](https://user-images.githubusercontent.com/1514995/184041202-47cb400f-91f1-46de-ab81-0b8bbca3af1a.png)

I looked through PR's and did not see this one. Should this reported separately or reopen here?

[2022-08-11 06:55] davidwagner commented on #550
Thank you!  Could you submit a new issue with enough information that we can reproduce it, @sean-morris?

[2022-08-11 18:44] sean-morris opened #551 "Getting warning from numpy when creating histogram"
I am using datascience 0.17.5 with matplotlib 3.5.2

![image](https://user-images.githubusercontent.com/1514995/184213943-5e34c656-14e9-4b39-85a4-27cad4df6757.png)

This seems to talk about a workaround:
https://stackoverflow.com/questions/63723514/userwarning-fixedformatter-should-only-be-used-together-with-fixedlocator

[2022-08-13 12:41] Shershon25 commented on #163
Thank you! I have opened a PR.

[2022-09-09 02:21] SakshiSingh25 commented on #476
Hi, is the issue still open? I'm interested in working on that.

[2022-09-09 02:23] SakshiSingh25 commented on #538
Hi, I would like to work on this issue. Would you guide me in the further process?
Thanks

[2022-09-09 02:39] SakshiSingh25 commented on #551
Hi, I am interested in working on this issue. Kindly, guide me in the further process.
Thank you.

[2022-09-14 11:55] ToshiNandanReddy commented on #551
Hello, I am interested in working on this issue.  Could you please guide me with further steps.
Thank you.

[2022-09-14 12:13] ToshiNandanReddy commented on #476
Hello, I am interested in working on this issue. Can you please guide me with further steps?

[2022-09-21 15:57] zahash opened #556 "getting version in setup.py"
https://github.com/data-8/datascience/blob/67ff872edb590d7c2cfab93bbc14b3132b263117/setup.py#L20-L24

why not use a simpler approach to just import __version__ from the version.py file?

`from datascience.version import __version__ as version`

[2022-10-02 09:34] helloaadii commented on #551
Hello, I am interested in working on this issue. Could you please guide me with further steps.
Thank you.

[2022-10-02 16:05] Divyanshu9676 commented on #556
Hey, I am new to Open Source and I would like to contribute to this.

[2022-10-07 18:22] AshiJoshi commented on #507
Hi @khsu2000 @davidwagner
I wanted to get involved in the project and was scrolling through the issues. Is there a need for the warning? If not, can this issue be assigned to me?
Thanks!

[2022-10-08 02:50] davidwagner opened #559 "We use Python f-strings"
The code uses f-strings (tables.py:3161, maps.py:129, and some test code), which requires Python 3.6, but we only check for Python 3.0.

Should we update the checks to require Python 3.6, or should we remove the f-strings so this works with Python 3.0?

[2022-10-08 02:50] davidwagner commented on #559
@adnanhemani I'd be interested to hear your thoughts on this.  (See also #555.)

[2022-10-08 02:51] davidwagner commented on #529
@AshiJoshi looks like this might already be covered by #555.

[2022-10-08 02:54] davidwagner commented on #507
@AshiJoshi @khsu2000 I would be fine with removing the warning.  Feel free to generate a pull request that does that.  (We don't assign issues, but just let anyone who wants contribute.)

[2022-10-08 02:56] davidwagner commented on #556
@zahash Will that get the version of the currently installed datascience package (which might be an older version) rather than the version of the code this is working with?

[2022-10-08 02:57] davidwagner commented on #551
I'm afraid we don't have resources to guide you on working on this.  Sorry.